exportClasses(regLins)
exportMethods(regLin, summary, plot)
importFrom(methods, setClass, setGeneric, setMethod)
importFrom(stats, dnorm, shapiro.test)
importFrom(car, vif, ncvTest)
importFrom(lmtest, bptest, dwtest)
importFrom(shiny, shinyApp, fluidPage, titlePanel, sidebarLayout, sidebarPanel, mainPanel, tabsetPanel, tabPanel, fileInput, selectInput, checkboxInput, uiOutput, actionButton, verbatimTextOutput, plotOutput, renderUI, renderPrint, renderPlot)
importFrom(readxl, read_excel)
importFrom(shinythemes, shinytheme)
importFrom(shinycssloaders, withSpinner)
importFrom(magrittr, `%>%`)
